# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug/*
Release/*
data/*
*.suo
x64/*
examples/keyword-extraction/x64/
examples/keyword-extraction/Debug/
examples/keyword-extraction/Release/
